body {
  color: #000;
  background-color: #e1e8ed;
  height: 600px;
  font-size: 10px;
  line-height: 2;
  font-family: 'Lato', sans-serif;
}
header {
  background: url(../images/header.png);
  background-attachment: fixed;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 100px;
  padding-left: 52px;
  padding-bottom: 80px;
}
.title {
  text-align: left;
  color: white;
  font-size: 95px;
  line-height: 1;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}
.title p {
  font-size: 22px;
  font-weight: 700;
  color: #292f33;
  padding-top: 20px;
  padding-left: 9px;
}
.container {
  display: inline-block;
  position: relative;
  height: 0px;
  padding-top: 20px;
  padding-bottom: 200px;
  padding-left: 60px;
  margin-top: 0px;
  margin-bottom: 100px;
}
/*iPhone div displays the iPhone shell */
.iPhone {
  display: inline-block;
  height: 800px;
  width: 400px;
  background: url(../images/iPhone_5s_blank.png);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: 120px;
  left: 400px;
  bottom: 0px;
  right: 0px;
  transform-origin-x: 100%;
  transform: translateZ(0);
}
/*iphone_screen div displays the starter screen and then search results layered on top of iPhone div*/
.iphone_screen {
  height: 800px;
  width: 400px;
}
/*screen_2 is demo results. hidden until input is submitted*/
.iPhone #screen_2 {
  display: none;
}
form input {
  color: #6b6b6c;
  font-size: 20px;
  background: #fff;
  border: 1px solid #111;
  border-radius: ;
  padding: 0px 10px;
  margin-top: 10px;
  display: block;
  width: 250px;
  margin-right: 24px;
  font-family: 'Lato', sans-serif;
  height: 40px;
  vertical-align: middle;
}
/*submit-btn is original. this is replaced with submit-again after inital search*/
#submit-btn {
  background: #55acee;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
  border: 1px solid #111;
  text-align: center;
  display: block;
  width: 275px;
  height: 55px;
  line-height: 50px;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}
/* submit-again takes the place of the original button to indicate that the user has already input a set of search criteria*/
#submit-again {
  display: none;
  background: #55acee;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
  border: 1px solid #111;
  text-align: center;
  width: 275px;
  height: 55px;
  line-height: 50px;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}
/* hovers so you know exactly where you are */
#submit-btn:hover {
  background: #292f33;
}
#submit-again:hover {
  background: #292f33;
}
footer {
  background-color: #292f33;
  display: block;
  height: 60px;
  margin-top: 250px;
  text-align: left;
  color: white;
  font-size: 18px;
  line-height: 1;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  padding-top: 20px;
  padding-left: 60px;
  padding-bottom: 20px;
}
footer div {
  padding: 5px;
}

