/* Font colors for this assignment are: red #f30000; gray #dddddd; black */

.content {
  width: 550px;
  background-color: white;
  background-position: center;
  border: 1px #dddddd solid;
  margin: 20px;
  padding: 30px;
  font-family: 'Lato', sans-serif;
}
.content img {
  width: 545px;
}
.header h1 a {
  text-decoration: none; 
  color: #f30000;
  font-size: 40px;
  line-height: 5%;
}
/* for Section Titles */
.header h2 {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.header nav a {
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid #dddddd;
  height: 20px;
  color: #dddddd;
  font-size: 18px;
  margin-right: 16px;
  margin-bottom: 16px;
  padding-bottom: 5px;
}
/* for Dates */
.article h3 {
  color: #dddddd;
  font-size: 28px;
  line-height: 30%;
}
/* for Section Titles */
.article h2 a {
  text-decoration: none;
  color: black;
  font-size: 26px;
  line-height: 5%;
}
.article p {
  color: black;
  font-size: 14px;
  line-height: 150%;
}
.article p span {
  float: left;
  color: #dddddd;
  font-size: 85px;
  padding-top: 25px;
  padding-right: 13px;
  padding-bottom: 20px;

}
/* I can't tell if I've cleared the float */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
   overflow: hidden;
}

/* for Continues... */
.article h4 a {
  text-decoration: none;
  color: #f30000;
  font-size: 13px;
  float: right;
}
.line-separator {
  height: 1px;
  background: #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 30px;
}
.footer a {
  text-decoration: none;
  color: #f30000;
  font-size: 13px;
}
.footer span {
  color: #dddddd;
  font-size: 15px;
}
.footer p {
  color: #dddddd;
  font-size: 13px;
}


